language = "nix"
run = "node ."

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 19043433
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node bot.js"
